.ccm-block-fa-social-media-icons div.svc {
	cursor: pointer;
	float: left;
	position: relative;
}
.ccm-block-fa-social-media-icons div.svc.activated span {
    background-color: red;
}
.ccm-block-fa-social-media-icons .speech-bubble {
    background: #fff;
	border: 1px solid gray;
    border-radius: 4px;
	color: initial;
	display: none;
    padding: 10px;
    position: absolute;
	text-align: left;
    width: 300px;
	z-index: 1000;
}
.ccm-block-fa-social-media-icons div.svc.activated .speech-bubble {
	display: block;
}
.ccm-block-fa-social-media-icons .speech-bubble:before,
.ccm-block-fa-social-media-icons .speech-bubble:after {
	content: ' ';
	border-style: solid;
	position: absolute;
	width: 0;
	height: 0;
}
.ccm-block-fa-social-media-icons .speech-bubble:before {
	border-color: gray transparent transparent transparent;
	bottom: -64px;
	border-width: 32px 12px;
	left: calc(50% - 10px);
}
.ccm-block-fa-social-media-icons .speech-bubble:after {
	border-color: white transparent transparent transparent;
    bottom: -60px;
	border-width: 30px 10px;
	left: calc(50% - 8px);
}
.ccm-block-fa-social-media-icons .speech-bubble.left:before,
.ccm-block-fa-social-media-icons .speech-bubble.right:before {
	border-width: 16px 12px;
	bottom: -32px;
}
.ccm-block-fa-social-media-icons .speech-bubble.left:after,
.ccm-block-fa-social-media-icons .speech-bubble.right:after {
	border-width: 15px 10px;
    bottom: -30px;
}
.ccm-block-fa-social-media-icons .speech-bubble.left:before {
	border-color: gray transparent transparent gray;
	left: 29px;
}
.ccm-block-fa-social-media-icons .speech-bubble.left:after {
	border-color: white transparent transparent white;
    left: 30px;
}
.ccm-block-fa-social-media-icons .speech-bubble.right:before {
	border-color: gray gray transparent transparent;
	left: auto;
	right: 29px;
}
.ccm-block-fa-social-media-icons .speech-bubble.right:after {
	border-color: white white transparent transparent;
	left: auto;
    right: 30px;
}
.ccm-block-fa-social-media-icons .speech-bubble input[type=checkbox] {
	cursor: pointer;
	float: left;
}
.ccm-block-fa-social-media-icons .speech-bubble label {
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: inherit;
    line-height: initial;
    margin-left: 20px;
    position: relative;
    top: 2px;
}